body {
/*	background-color: gray;
	margin: 0;
	padding: 0;*/
}

/* canvas */
canvas {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    position: relative;
    display: none;
}


@font-face {
	font-family: 'avenir';
	src: url('../../../assets/designmk/fontes/avenir-light.eot');
	src: url('../../../assets/designmk/fontes/avenir-light.eot');
	src: local('☺'), url('../../../assets/designmk/fontes/avenir-light.woff') 
	format('woff'), url('../../../assets/designmk/fontes/avenir-light.ttf') format('truetype'), 
	url('../../../assets/designmk/fontes/avenir-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



#contentmain {
    width: 100px;
    height: 100px;
    background-color: red;
}



/* placeholder dos modelos */
#placeholder-model {

	background: black url('../../designmk/img/bg-molde.jpg') repeat;
	width: 500px;
	height: 500px;
	position: relative;
    overflow: hidden;
	    border: 1px solid gray;
}
	
	/* local do silk */
	#placeholder-silk {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 100px;
		cursor: move;
	}

	#placeholder-silk img {
		width: 100%;
		height: auto;
	}

	.bg-placeholder {
		width: 500px;
		height: 500px;
		position: absolute;
		top: 0;
		left: 0;
		background-size: 100% 100%;
		pointer-events: none;
	}


/* controles de modelos */
#control-model {
	/*background-color: blue;*/
	width: 100%;
	max-width: 400px;
}


/*----------------*/
/* controles */
.bt-controle {

}

.controle-active {
	background-color: #4ad26c !important;
}

// escolher foto para preview
.ui-fotopreview {
	display: table;
	width: 100%;
}
.ui-fotopreview a {
	width: 25%;
    border: 3px solid white;
    background-color: #dadada;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding: 10px 0px;
}
.ui-fotopreview a:hover {
	background-color: #efefef;
}


// escolher cor do texto
.ui-colorfont {
	display: table;
	width: 100%;
}
.ui-colorfont a {
	width: 33.3%;
    border: 3px solid white;
    background-color: #dadada;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding: 10px 0px;
}
.ui-colorfont a:hover {
	background-color: #efefef;
}


.ui-box label {
    padding: 0px 0px 9px 0px;
    display: inline-block;
}

.ui-box {
	padding: 10px;
	border: 1px solid #e4e4e4;
	display: table;
	width: 100%;
	margin: 0px 0px 20px;
	background: #f7f7f7;
}

#ui-logo {
	text-align: right;
}


#control-model label {
	font-size: 1em;
}

.bt-verde {
    width: 100%;
    display: block;
    background-color: #00B22D;
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: white;
    font-size: 1em;
    padding: 10px 0px;
    font-weight: lighter;
    margin: 0px 0px 10px 0px;
    cursor: pointer;
}

	.bt-verde:hover  {
		 background-color: #03D237;
	}



.bt-roxo {
    width: 100%;
    display: block;
    background-color: #5900BB;
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: white;
    font-size: 1em;
    padding: 10px 0px;
    font-weight: lighter;
	text-decoration: none;
    text-align: center;   
        margin: 0px 0px 10px 0px; 
	    cursor: pointer;
}
	.bt-roxo:hover  {
		 background-color: #7E1FE6;
	}


.bt-select {
    width: 100%;
    display: block;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #5900BB;
    font-size: 1em;
    padding: 5px 0px;
    font-weight: lighter;
	text-decoration: none;
    text-align: center;  
    border: 1px solid #5900BB;  
    border-radius: 0px;	
        margin: 0px 0px 10px 0px;
}


#campo-file {
	position: relative;
    display: block;
    height: 45px;
    width: 100%;
    margin: 0px 0px 10px;
    cursor: pointer;
}


	.bt-file {
	    width: 100%;
	    height: 45px;
	    display: block;
	    background-color: #00B22D;
	    font-family: 'Open Sans', sans-serif;
	    color: white;
	    font-size: 1em;
	    padding: 5px 0px;
	    font-weight: lighter;
		text-decoration: none;
	    text-align: center;  
	    border-radius: 0px;	
	    margin: 0px 0px 10px 0px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    line-height: 35px;
	    cursor: pointer;
	}



	
	#campo-file input {
	    cursor: pointer;
	    width: 100%;
	    height: 45px;
	    display: block;
	    opacity: 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	}


// MODELO DE POSICIONAMENTO DE PRECOS
#ft-preco {

}

.ft-preco1 {
    font-family: 'avenir';
    font-size: 63px;
    position: absolute;
    bottom: 22px;
    left: 10px;
}
.ft-nome1 {
font-family: 'avenir';
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 13px;
    text-align: left;
}

.ft-preco2 {
    font-family: 'avenir';
    font-size: 50px;
    position: absolute;
    bottom: 107px;
    left: 18px;
    color: #f0ff3b;
    font-weight: 100;
}
.ft-nome2 {
    font-family: 'avenir';
    font-size: 20px;
    position: absolute;
    bottom: 180px;
    left: 20px;
    color: white;
    font-weight: 100;
}

.ft-preco3 {
    font-family: 'avenir';
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    right: 88px;
    color: #bd0000;
    width: 320px;
    text-align: center;
    font-weight: 100;
}
.ft-nome3 {
    font-family: 'avenir';
    font-size: 17px;
    position: absolute;
       top: 4px;
    right: 0px;
    color: #bd0000;
    width: 500px;
    text-align: center;
}

.ft-preco4 {
color: #fdf642;
    font-family: 'avenir';
    font-size: 50px;
    position: absolute;
    bottom: 35px;
    right: 10px;
    font-weight: 100;
}
.ft-nome4 {
    font-family: 'avenir';
    font-size: 17px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: white;
}


.ft-preco5 {
	font-family: 'avenir';
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #e35f4a;
    font-weight: 100;
}

.ft-nome5 {
    font-family: 'avenir';
    font-size: 17px;
    position: absolute;
    top: 8px;
    right: 10px;
    color: #e35f4a;
}

.ft-preco6 {
    font-family: 'avenir';
    font-size: 70px;
    position: absolute;
    bottom: 10px;
    left: 1px;
    color: #ffe400;
    font-weight: 100;
}
.ft-nome6 {
font-family: 'avenir';
    font-size: 17px;
    position: absolute;
    top: 18px;
    right: 10px;
    color: #ffe400;
}

.ft-preco7 {
    color: #2bfff9;
    font-family: 'avenir';
    font-size: 40px;
    position: absolute;
    bottom: 35px;
    right: 10px;
    font-weight: 100;
}
.ft-nome7 {
    font-family: 'avenir';
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: white;
}

.ft-preco8 {
color: #c35c75;
    font-family: 'avenir';
    font-size: 70px;
    position: absolute;
    bottom: 65px;
    right: 0px;
    font-weight: 100;
    width: 500px;
    text-align: center;
}
.ft-nome8 {
color: #fff;
    font-family: 'avenir';
    font-size: 17px;
    position: absolute;
    bottom: 30px;
    right: 0px;
    font-weight: 100;
    width: 500px;
    text-align: center;
    background: #c35c75;
    padding: 6px 0px;
}

.ft-preco9 {
color: #8c4656;
    font-family: 'avenir';
    font-size: 70px;
    position: absolute;
    bottom: 35px;
    left: 50px;
    font-weight: 100;
}
.ft-nome9 {
    font-family: 'avenir';
    font-size: 17px;
    position: absolute;
    top: 37px;
    right: 40px;
    color: #8c4656;
}


#fbpost-ft-site {
    font-family: 'avenir';
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: white;
    width: 490px;
    text-align: left;
}

.txt-preto {
	color: #000;
}
.txt-branco {
	color: #fff;
}



/*----------------*/
.arte {
	background: url(../../../assets/modelo-camisa/img/arte.jpg) no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

#fr-logo-size{
	width: 100%;
}



